{{ define "main" }}
<!-- Masthead -->
{{ partial "masthead" . }}

<main>
  <!-- Lightbox -->
  {{ partial "lightbox" . }}

  <!-- Content -->
  {{ .Content }}

  <div class="equipment">
    <div class="equipment-col">
      <h2>Montierung</h2>
      <ul>
        <li>Gemini G 41 Montierung Field Version</li>
        <li>Astro Electronic FS 2 Steuerung</li>
      </ul>

      <h2>Teleskope</h2>
      <ul>
        <li>Skywatcher Esprit 80 ED 80 mm F/5 FPL 53 ED Triplet Apochromat</li>
        <li>Lacerta Carbon Fotonewton 250mm F4</li>
        <li>Carl Zeiss Jena AS 100/1000</li>
      </ul>

      <h2>Kamera</h2>
      <ul>
        <li>ZWO Farb Astrokamera ASI071MC Pro</li>
        <li>ZWO Farb Astrokamera ASI678MC</li>
        <li>ZWO Mono Astrokamera ASI290 Mini</li>
      </ul>

      <h2>Programme und Software</h2>
      <ul>
        <li>Cartes du Ciel Planetarium Software</li>
        <li>N.I.N.A. Nighttime Imaging 'N' Astronomy Sequencersoftware</li>
        <li>PHP2 Guidingsoftware</li>
        <li>DSS DeepSkyStacker</li>
        <li>SharpCap</li>
        <li>Fitswork</li>
        <li>PixInsight</li>
        <li>Photoshop CC</li>
        <li>StarNet++ V2</li>
      </ul>
    </div>
    <div class="equipment-col">
      <img src="esprit80.jpeg" alt="">
      <img src="FN250.jpeg" alt="">
    </div>
  </div>
</main>
{{ end }}
