{{ define "main" }}
<!-- Masthead -->
{{ partial "masthead" . }}

<main>
  <h2>Senden Sie uns eine Nachricht</h2>
  <form
    id="contact-form"
    action=""
    method="POST"
  >
    <div class="form-group">
      <input id="contact-form-name" type="text" name="name" required />
      <span class="bar"></span>
      <label for="contact-form-name">Name</label>
    </div>

    <div class="form-group">
      <input id="contact-form-email" type="email" name="email" required />
      <span class="bar"></span>
      <label for="contact-form-email">E-Mail</label>
    </div>

    <div class="form-group">
      <textarea
        id="contact-form-description"
        name="message"
        required
      ></textarea>
      <span class="bar"></span>
      <label for="contact-form-description">Nachricht</label>
    </div>

    <input type="text" name="_gotcha" style="display: none" />

    <div id="recaptcha-disclaimer">
      Diese Seite ist geschützt durch reCAPTCHA. Es gelten die Google
      <a href="https://policies.google.com/privacy">Datenschutzerklärung</a> und
      <a href="https://policies.google.com/terms">Nutzungsbedingungen</a>.
    </div>

    <button
      class="btn g-recaptcha"
      type="submit"
      data-sitekey=""
      data-callback="onContactFormSubmit"
    >
      Absenden
    </button>

    <div id="contact-form-submit-response">Vielen Dank für Ihre Nachricht!</div>
  </form>
</main>
{{ end }}

{{ define "scripts" }}
  <script src="https://www.google.com/recaptcha/api.js"></script>
{{ end }}
