{{ define "main" }}
<!-- Masthead -->
{{ partial "masthead" . }}

<main>
  <form
    id="contact-form"
    action="https://formspree.io/f/mpzvolbv"
    method="POST"
  >
    <div class="form-group">
      <input id="contact-form-name" type="text" name="name" required />
      <span class="bar"></span>
      <label for="contact-form-name">Name</label>
    </div>

    <div class="form-group">
      <input id="contact-form-email" type="email" name="email" required />
      <span class="bar"></span>
      <label for="contact-form-email">E-Mail</label>
    </div>

    <div class="form-group">
      <textarea
        id="contact-form-description"
        name="message"
        required
      ></textarea>
      <span class="bar"></span>
      <label for="contact-form-description">Description</label>
    </div>

    <input type="text" name="_gotcha" style="display: none" />

    <button
      class="btn g-recaptcha"
      type="submit"
      data-sitekey="6Le70LYpAAAAAPP8vmzS0jL-Wm_MUOUoeVvRBR8c"
      data-callback="onContactFormSubmit"
    >
      LET'S WORK
    </button>

    <div id="contact-form-submit-response">Thank you for your message!</div>

    <div id="recaptcha-disclaimer">
      This site is protected by reCAPTCHA and the Google
      <a href="https://policies.google.com/privacy">Privacy Policy</a> and
      <a href="https://policies.google.com/terms">Terms of Service</a> apply.
    </div>
  </form>
</main>
{{ end }}
