{{ $variables := resources.Get "css/variables.scss" }}
{{ $lightbox := resources.Get "css/lightbox.scss" }}
{{ $grid := resources.Get "css/grid.scss" }}
{{ $filter := resources.Get "css/filter.scss" }}
{{ $navIcon := resources.Get "css/nav-icon.scss" }}
{{ $search := resources.Get "css/search.scss" }}
{{ $main := resources.Get "css/main.scss" }}

{{ $css := slice $variables $lightbox $grid $filter $navIcon $search $main | resources.Concat "css/bundle.scss" | toCSS | minify |
fingerprint }}

<link
  rel="stylesheet"
  href="{{ $css.RelPermalink }}"
  integrity="{{ $css.Data.Integrity }}"
  crossorigin="anonymous"
/>
