/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(''), url('/fonts/montserrat-v15-latin-300.woff2') format('woff2');
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''), url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2');
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''), url('../fonts/montserrat-v15-latin-600.woff2') format('woff2');
}

/* Oooh Baby */
@font-face {
  font-family: 'Oooh Baby';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''), url('/fonts/oooh-baby.woff2') format('woff2');
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $text-color;
  background-color: $main-bg;
}

a {
  text-decoration: none;
  transition: color 0.1s ease-in-out;
  cursor: pointer;

  &:hover {
    color: $highlight-color;
  }
}

input {
  padding: 0 15px;
  height: 60px;
  width: 100%;
  font-size: 1rem;
  line-height: 2;
  border: 1px solid #ccc;
  outline: none;
  font-family: inherit;
}

textarea {
  padding: 25px 15px;
  width: 100%;
  height: 200px;
  outline: none;
  resize: vertical;
  font-size: 1rem;
  font-family: inherit;
  border: none;
}

label {
  line-height: 1;
}

button {
  cursor: pointer;
  background-color: transparent;
  background-image: none;
  font-family: 'Montserrat', Arial;
}

button,
input {
  border: none;
  outline: none;
}

main {
  position: relative;
  padding: 2rem 0;
  width: 90%;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $main-bg;
  line-height: 2;
  transition: height 2s ease-in-out;

  p img {
    max-width: 100%;
    cursor: pointer;
  }

  video {
    max-width: 100%;
  }

  &.centered {
    align-items: center;

    img,
    video {
      margin: auto;
      display: block;
    }
    
    .project-description {
      align-items: center;
    }

    h2,
    p {
      text-align: center;
    }
  }

  p > a {
    color: $highlight-color;

    &:hover {
      text-decoration: underline;
    }
  }

  h2 {
    color: $highlight-color;
  }
}

#page-bg {
  position: fixed;
  top: 0;
  left: 0;  
  width: 100%;
  height: 100%;
  background: url('/img/startseite.jpg');
  background-size: cover;
  background-attachment: fixed;
  /*background-position: -223px -67px;* /* Keep for moon image */
  background-repeat: no-repeat;
}

#masthead-wrapper {
  position: relative;
  top: 0;
  left: 0;
  padding: 3rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.masthead {
  position: fixed;
}

#masthead-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.15;
  z-index: -1;
}

#masthead-homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: margin;

  h1 {
    margin: 0 3rem;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
    font-size: 3.125rem;
    letter-spacing: 3px;
    line-height: 1.2;
    animation: fadeIn 2s linear 200ms;
    animation-fill-mode: both;
  }

  h2 {
    color: #fff;
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: 2px;
    display: block;
    font-family: 'Oooh Baby', Sans-serif;
    animation: fadeInDown 1s linear 1s;
    animation-fill-mode: both;
  }

  a {
    animation: fadeIn 2s linear 2s;
    animation-fill-mode: both;
  }
}

#masthead-section {
  position: relative;
  padding: 0 3rem;
  //padding: 200px 0px 100px 0px;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  h1 {
    margin: 0;
    margin-top: 50px;
    padding: 10px 0;
    min-height: 80px;
    font-family: 'Montserrat', Arial;
    font-size: 3.125rem;
    letter-spacing: 1.5px;
    line-height: 1;
    color: #fff;
    text-align: center;
  }

  img {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    object-position: top;
    object-fit: cover;

    &.imgPositionCenter {
      object-position: center;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    margin-top: 50px;
  }
  25% {
    margin-top: 50px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes slideDown {
  0% {
    margin-top: -50px;
  }
  25% {
    margin-top: -50px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate(0, -100%);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

/* Header */
header {
  position: fixed;
  padding: 0 30px;
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  color: #fff;
  transition: background-color 200ms ease-out, height 200ms ease-out;

  &.scrolled {
    height: 65px;
    background-color: #00000094;
  }

  a {
    color: #fff;
  }
}

/* Header small screen */
header {
  background-color: transparent;
}

#header-logo {
  align-self: center;
  z-index: 3;
}

#header-menu-flyout {
  ul {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
  }

  li {
    margin-left: 1rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 3;
  }

  svg {
    height: 30px;
    width: 30px;
  }
}

/* Flyout */
#flyout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: $main-bg;
  z-index: 2;
  transition: all 0.25s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;

  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
  }

  li {
    padding: 20px 0;
    font-size: 2rem;
    cursor: pointer;
  }

  a.active {
    color: $highlight-color;
  }

  &.open {
    height: 100%;
    visibility: visible;
  }
}

#header-menu-main {
  font-size: 1rem;
  display: none;

  ul {
    margin: 0;
    height: 70px;
    display: flex;
    align-items: center;
    list-style: none;

    li {
      padding-right: 34px;
      height: 100%;
      display: flex;
      align-items: center;

      a {
        height: 40px;
        display: flex;
        align-items: center;
        letter-spacing: 1px;
        border: 2px solid transparent;
        transition: color 200ms ease-in, border-color 200ms ease-in;

        &:hover {
          color: $highlight-color;
        }

        &.active {
          color: $highlight-color;
          border-top: 2px solid $highlight-color;
        }
      }

      svg {
        height: 17px;
        width: 17px;
      }
    }
  }

  .search {
    padding-right: 0;
  }
}

.dropdown {
    position: relative;
}

.dropdown-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: rgba(0,0,0,1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    transform: translateY(-15px);
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, transform .2s ease-in-out;

    a {
      color: #fff;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;

      &:hover {
        background-color: rgba(0,0,0,0.2);
      }
    }
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* Footer */
footer {
  position: relative;
  padding: 50px 10px 50px;
  width: 100%;
  background: $main-bg;
  color: #fff;
  text-align: center;
  border-top: 1px solid #555;

  a {
    color: #fff;
  }
}

.footer-sep {
  margin: 0 8px;
  display: none;

  @media only screen and (min-width: 992px) {
    display: block;
  }
}

.footer-legal {
  margin-top: 10px;
  line-height: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media only screen and (min-width: 992px) {
    flex-direction: row;
  }
}

@media (min-width: 922px) {
  header {
    padding: 0 10%;
    background-color: transparent;
  }

  #header-menu-flyout {
    display: none;
  }

  #header-menu-main {
    display: block;
  }

  main {
    max-width: 1200px;
  }
}

.hidden {
  display: none !important;
}

.btn {
  padding: 16px 40px;
  color: #fff;
  border: 2px solid #fff;
  line-height: 1rem;
  letter-spacing: 2px;
  font-family: inherit;
  font-size: 0.75rem;
  background-color: #212023;
  transition: background-color 0.25s, color 0.25s;

  &:hover {
    color: #fff;
    background: $highlight-color;
  }

  a {
    color: inherit;
  }
}

.table-wrapper {
  position: relative;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin: 1.5rem 0;
}

/* Optional: Make scrollbar more subtle */
.table-wrapper::-webkit-scrollbar {
  height: 6px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

.table-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to left, white, transparent);
}

.project-info {
  margin: 0;
  width: 100%;
  flex-shrink: 0;
  border-collapse: collapse;
  color: #dcdcdc;

  @media only screen and (min-width: 992px) {
    width: 80%;
  }

  caption {
    caption-side: bottom; /* oder top */
    font-style: italic;
    font-size: 0.9em;
    color: #666;
    text-align: left;
    padding-top: 0.5rem;
  }

  tr {
    height: 40px;
    border-bottom: 1px solid #636363;
    background-color: #282828;
  }

  tr:nth-child(even) {
    background-color: #303030;
  }

  td {
    padding: 0.5rem;
    vertical-align: center;
  }

  tbody tr td:first-child {
    width: 40%;
  }
}

.project-description {
  display: flex;
  flex-direction: column;
}

/* Form label animation */
.form-group {
  position: relative;
  margin-top: 20px;
  width: 100%;

  label {
    position: absolute;
    top: 0;
    left: 15px;
    margin-top: 20px;
    color: #aaa;
    pointer-events: none;
    transition: all 0.2s ease;
    display: block;
  }

  textarea:focus ~ label,
  textarea:valid ~ label,
  input:focus ~ label,
  input:valid ~ label {
    top: -15px;
    font-size: 12px;
    color: $highlight-color;
  }
  
  .bar {
    display: block;
    position: relative;
    width: 100%;
  }
  
  .bar:before,
  .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: $highlight-color;
    transition: all 0.2s ease;
  }
  
  .bar:before {
    left: 50%;
  }
  
  .bar:after {
    right: 50%;
  }
  
  input:focus ~ .bar:before,
  input:focus ~ .bar:after,
  textarea:focus ~ .bar:before,
  textarea:focus ~ .bar:after {
    width: 50%;
  }
}

#contact-form {
  a {
    color: $highlight-color;
  }

  button {
    margin-top: 20px;
    letter-spacing: 0.3rem;
  }
}

.grecaptcha-badge {
  display: none;
}

#recaptcha-disclaimer {
  margin-top: 10px;
  font-size: .8rem;
}

#contact-form-submit-response {
  margin-top: 10px;
  height: 0;
  line-height: 50px;
  overflow: hidden;
  transition: height .4s ease-in-out;

  &.reveal {
    height: 50px;
  }
}

.equipment {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 992px) {
    flex-direction: row;
  }

  img {
    max-width: 100%;
  }

  .equipment-col {
    width: 100%;

    @media only screen and (min-width: 992px) {
      width: 50%;
    }
  }
}
