{{ define "main" }}

<!-- Masthead -->
{{ partial "masthead" . }}

<main>
  <div class="content">
    <ul class="gallery-categories">
      <li class="category active" data-category="all">Alle</li>

      {{ range $name, $taxonomy := .Site.Taxonomies }} {{ if eq "categories"
      $name }} {{ range $key, $value := $taxonomy }} {{ if ge (where
      $value.Pages "Section" "galerie") 1 }}
      <li data-category="{{ .Page.Title | urlize }}" class="category">
        {{ .Page.Title }}
      </li>
      {{ end }} {{ end }} {{ end }} {{ end }}
    </ul>

    <div id="gallery">
      {{ range (where .Pages "Type" "galerie") }}
      <a
        href="{{ .Page.RelPermalink }}"
        class="gallery-item"
        data-categories="{{ range .Params.categories }}{{ . | urlize }},{{ end }}"
      >
        {{ with .Resources.GetMatch "header.*" }}
        <div class="gallery-item-img">
          <img
            src="data:{{ .MediaType.Type }};base64,{{ .Content | base64Encode }}"
          />
        </div>
        {{ end }}

        <div class="gallery-item-title-wrapper">
          <h2 class="gallery-item-title">{{ .Title }}</h2>
        </div>
      </a>
      {{ end }}
    </div>
  </div>
</main>
{{ end }}
