{{ define "main" }}
<!-- Masthead -->
{{ partial "masthead" . }}

<main class="centered">
  <!-- Lightbox -->
  {{ partial "lightbox" . }}

  <h2 data-pagefind-body>{{ .Params.title_full }}</h2>

  {{ if .Params.info }}
    <table class="project-info">
      {{ range $row := .Params.info }}
      <tr>
        <td>{{ $row.key }}</td>
        <td>{{ $row.value }}</td>
      </tr>
      {{ end }}
    </table>
  {{ end }}


  <div class="project-description" data-pagefind-body>
    {{ .Content }}
  </div>
</main>
{{ end }}
